<div>
    {{if age}}
        <h3>{{message}}</h3>
    {{else}}
        <h3>{{message2}}</h3>
    {{/if}}

    {{!-- {{#unless age}}
        <h3>This is inside unless body</h3>
    {{/unless}} --}}

    {{!-- <ul>
        {{#each people}}
            <li>{{.}}</li>
            <li>{{this}}</li>
        {{/each}}
    </ul> --}}
</div>